<h1>New Goal</h1>
<form action="<%= intentions_path %>" method="post">
    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token%>"/>
    <label for="name">Name: </label>
    <input type="text" name="intentions[name]" id="name">
    <br />
    <label for="status">Private? </label>
    <input type="checkbox" name="intentions[status]" id="status" value="private" />
    <br />

    <input type="submit" value="New Goal">
</form>